<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/css/adapter.css">
    <!-- 字体图标链接 -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_911728_ukj7cnls94.css">
</head>

<body>
    <div class="wrap">
        <header>
            <div class="logo-box fl"><a href=""><span>小U商城后台管理系统</span></a></div>
            <div class="person-service f_r ">

                <!-- 注销 -->
                <div class="logout-box fr">
                    <a href="javascript:;">
                        <i class="iconfont icon-zhuxiaologout10"></i>
                        <span>注销</span>
                    </a>
                </div>
                <!-- 登录信息  -->

                <div class="person-info  fr">
                    <a href="">
                        <img src="../image/person.png" alt="">
                        <span>周杰伦</span>
                    </a>
                </div>
            


            </div>


        </header>
        <!-- 核心区域 -->
        <div class="main-section">
                <!-- 菜单按钮 -->

                <div  class="menu-btn">
                    <a href=""> <i  class="iconfont   icon-caidan"></i></a>
                    
                </div>


            <div class="aside">
                <!-- 内部列表 -->

                <ul class="fun-list">
                    <li class="active list-item m-active">

                        <a href="">
                            <i class="iconfont icon-shangpin"></i>
                            <span>商品管理</span>
                        </a>

                        <!-- 下拉列表 -->
                        <ul class="drop-down">

                            <li class="b">
                                <a href="">
                                    <i class="iconfont icon-fuzhiziji"></i>
                                    <span> 商品信息管理</span>

                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="iconfont icon-fuzhiziji"></i>
                                    <span> 添加商品信息</span>

                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="iconfont icon-fuzhiziji"></i>
                                    <span> 商品类型管理</span>

                                </a>
                            </li>

                        </ul>

                    </li>
                    <li class="list-item">
                        <a href="">
                            <i class="iconfont icon-6"> </i>
                            <span>订单管理</span>
                        </a>

                    </li>
                    <li class="list-item">

                        <a href="">
                            <i class="iconfont icon-yonghu"> </i>
                            <span> 用户管理</span>
                        </a>

                    </li>


                    <li class="list-item">

                        <a href="">
                            <i class="iconfont icon-guanliyuan1"></i>
                            <span> 管理员管理</span>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="data-display">

                <div class="top-box">
                    <div class="control-tips fl">

                        商品信息管理

                    </div>
                    <div class="operation-btn fr">
                        <span>操作</span>
                        <i class="iconfont icon-xialajiantou"></i>
                    </div>

                </div>

                <div class="bottom-box">
                    <ul class="content-list">

                        <li class="content-list-item">
                            <div class="count">
                                <p>150</p>
                                <span>新订单</span>

                            </div>
                            <a href="" class="btn-detail">
                                <span>详细</span>
                                <i class="iconfont icon-icon-"></i>
                            </a>
                        </li>
                        <li class="content-list-item">
                            <div class="count">
                                <p>70</p>
                                <span>转换率</span>

                            </div>
                            <a href="" class="btn-detail">
                                <span>详细</span>
                                <i class="iconfont icon-icon-"></i>
                            </a>
                        </li>
                        <li class="content-list-item">
                            <div class="count">
                                <p>80</p>
                                <span>新注册用户</span>

                            </div>
                            <a href="" class="btn-detail">
                                <span>详细</span>
                                <i class="iconfont icon-icon-"></i>
                            </a>
                        </li>
                        <li class="content-list-item">
                            <div class="count">
                                <p>100</p>
                                <span>日PV</span>

                            </div>
                            <a href="" class="btn-detail">
                                <span>详细</span>
                                <i class="iconfont icon-icon-"></i>
                            </a>
                        </li>

                    </ul>

                </div>



            </div>
        </div>



    </div>


</body>

</html>