<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_911728_77w6m0zt7wc.css">
  <!-- 适配文件 -->
  <link rel="stylesheet" href="/css/adapter.css">
</head>
<body>
  <div class="wrap">
    <!-- logo -->
    <div class="logo-box">
      <a href="">
        <i class="iconfont  icon-U"></i>
      </a>
    </div>
    <!-- 登录框 -->
    <div class="login-box">
       <form action="">
        <a href=""  class="login-text">Login</a>
        <div class="form-item">
            <label for="username">姓名</label>
            <input type="text" name="username"  id="username">
        </div>
        <div class="form-item">
          <label for="userEmail">邮箱</label>
          <input type="email" name="userEmail"  id="userEmail">
      </div>
      <div class="form-item">
        <label for="userpasswd">密码</label>
        <input type="password" name="userpasswd"  id="userpasswd">
    </div>
    <div class="form-item">
          <input type="checkbox"  name="userchecked"  id="userchecked">
         <label for="userchecked" class="rem-passwd">记住密码</label>
    </div>

    <div class="form-item">
        <input type="submit" value="登录" class="sub-btn">
    </div>
    <div class="form-item">
       <p>还没有账号? 
         <a href=""  class="go-regist">去注册</a>
       </p>
    </div>

    

      
     
      </form>

    </div>

  </div>
</body>
</html>