<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/poduct.css">
  <link rel="stylesheet" href="/css/adapter.css">
  <link rel="stylesheet" href="http://at.alicdn.com/t/font_911728_hq5t2asl2.css">



</head>

<body>
  <div class="wrap">
    <div class="title">
      商品信息管理
    </div>

    <div class="menu  clearfix">
      <div class="fun-btn  fl  clearfix">
        <a href="">删除</a>
        <a href="">添加</a>
        <a href="">修改</a>
        <a href="" class="br-no">刷新</a>
      </div>
      <div class="search-box  fr">
        <form action="">
          <label for="input-keywd">商品名称:</label>
          <input type="search" name="input-keywd" id="input-keywd">
          <button>查询</button>
        </form>
      </div>
    </div>

    <div class="table-content">
      <!-- 超小屏下的搜索按钮 -->
      <div class="m-search-btn">
           <a href="">
             <span>搜索</span>
             <i class="iconfont icon-xialajiantou"></i>
           </a>
      </div>
      <table>
        <thead>
          <tr>
            <th>
              <input type="checkbox">
            </th>
            <th>商品ID</th>
            <th>商品名称</th>
            <th>商品价格</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>三级分类</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> <input type="checkbox"></td>
            <td>1</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>2</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>3</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>4</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>4</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>4</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>4</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>
          <tr>
            <td> <input type="checkbox"></td>
            <td>4</td>
            <td>华为Mate9</td>
            <td>3020</td>
            <td>数码产品</td>
            <td>手机</td>
            <td>国产手机</td>
            <td>申请中</td>
            <td>
              <a href="">详情</a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  </div>
</body>

</html>